body {
  background-color: red;
}

h1 {
  text-align: left;
  font-family: times;
  font-size:12px;
  color: green;
}

p {
  text-align: right;
  font-family: verdana;
  font-size: 20px;
  color: blue;
}

#slider {
  text-align: center;
  color: yellow;
}
