body {
  background-color: red;
}

/*seletores */
h1 {
  text-align: left;
  font-family: times;
  font-size:12px;
  color: navy;
}

p {
  text-align: right;
  font-family: verdana;
  font-size: 20px;
  color: pink;
}

/*seletores de id*/
#para1 {
  text-align: center;
  color: yellow;
  font-size:34px;
}

/*seletores de classe*/
p.center {
  text-align: center;
  color: red; 
  font-size:5px; 
}

/*seletor de agrupamento: usado para elementos HMTL que tenham as mesmas propriedades.*/
h3, h4, h5 {
  text-align: left;
  color:Tomato;
  font-size:18px;  
}
